.house {
  margin-top: 100px;
  margin-left: 400px;
}

.house-Chimney {
  background-color: #a52a2a;
  position: absolute;
  margin-left: 150px;
  height: 100px;
  width: 30px;
  border-bottom: 0px solid transparent;
}

.house-foundation {
  background-color: black;
  height: 150px;
  width: 200px;
}

.house-window {
  background: white;
  position: absolute;
  margin-top: 20px;
  margin-left: 70px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.house-roof {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid red;
}
.house-door {
  background-color: #a52a2a;
  height: 50px;
  width: 30px;
  position: absolute;
  margin-top: 100px;
  margin-left: 30px;
}

.grass {
  background-color: green;
  height: 10px;
  width: 1000px;
}
